<div class="container" ng-controller="AppCtrl">		
	
			<nav class="navbar navbar-default">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
	 				<li role="presentation" id="li1"><a ui-sref='login'>Log Out</a></li>
 			 	</ul> 			 
 				<form class="navbar-form navbar-left">
 					<div class="form-group">
 			 			<input class="form-control" ng-model="lexicon.wordOne"></input> 			 			
						<input class="form-control" ng-model="lexicon.wordTwo" 
								placeholder="Napisz coś...">			
						</input>
 			 		</div>
 			 			<button class="btn btn-info btn-xm addButton glyphicon glyphicon-plus" 
								ng-click="addTranslate()" 
								ng-mouseover="addButton" 
								data-toggle="tooltipAdd" 
								title="Add new">						
						</button>
						<button class="btn btn-success btn-xm updateButton glyphicon glyphicon-ok" 
								ng-click="update()"
								data-toggle="tooltipUpdate" 
								title="Update">				
						</button>	
						<button class="btn btn-primary btn-xm clearButton glyphicon glyphicon-remove" 
								ng-click="deselect()"
								data-toggle="tooltipClear" 
								title="Clear">			
						</button>
 			 	</form>
 			 </div>
		</nav> 
	
		<h1>My Little Dictionary</h1>
	<div ng-include="'table.html'"></div>


<!-- 		<pagination total-items="countDatas" 
		 	ng-model="currentPage"
          	max-size="5" 
          	boundary-links="true"
          	items-per-page="numPerPage" 
          	class="pagination-sm"
          	id="countPages">
        </pagination> -->
</div>

<link rel="stylesheet" type="text/css" href="look.css">