@CHARSET "UTF-8";


h1{
	margin-top: 5%;
	margin-left: 2%;
}

.container{
	margin:0px;
	padding:0px;
	width:100%;
}

.navbar-default{
	width: 100%;
	height: 8%;
	position: fixed;
	color: DarkBlue;
}

.form-control{
	width: 30%;
	margin-left: 10px;
	padding-right: 5px;
	padding-left: 10px;
}

.table{
	margin-left: 2%;
}

.addButton{
	border-radius: 20px;
	width: 35px;
  	height: 35px;
  	font-size: 10px;
	text-align: center;  
	margin-left: 10px;	
	margin-right: 8px;
}

.addButton:hover {
	 box-shadow: 2px 2px 20px DodgerBlue;
}

.clearButton{
	font-size: 10px;
	border-radius: 20px;
	width: 35px;
  	height: 35px;
  	text-align: center;
}

.clearButton:hover{
	box-shadow: 2px 2px 20px Blue;
}

.updateButton{	
	border-radius: 20px;
	width: 35px;
  	height: 35px;
  	font-size: 10px;
  	text-align: center;
  	margin-left: 10px;	
	margin-right: 8px;
  	display: none;
}

.updateButton:hover{
	box-shadow: 2px 2px 20px Green;
}

.editButton{
	border-radius: 25px;
	width: 30px;
  	height: 30px;
  	text-align: center;
  	margin-right: 40px;
}

.editButton:hover{
	box-shadow: 2px 2px 20px DarkOrange;
}

.removeButton{
	border-radius: 25px;
	width: 30px;
  	height: 30px;
  	text-align: center;
}

.removeButton:hover{
	box-shadow: 2px 2px 20px Red;
}

.checkBoxes{
	width: 1%;
	display: none;
}

.tdCheckBox{
	width: 3%;
}

.tdWordOne{
	font-weight: bold; 
	text-align: right;
	height: 50px;
}

.tdWordTwo{
	font-style: italic;
}

.tdButtons{
	width: 15%; 
	text-align: left;
}

#countPages{	
	position: absolute;
	margin-left: 2%;
	bottom: 20px;
}


.table.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

