.container{
	margin-left: 40%;
	margin-top: 40%;
}

.labels-inputs{
	margin-left: 40%;
	margin-top: 10%;
	padding-left: 10px;
	transition: all linear 0.5s;
}

.form-control{
	width: 30%;
	text-align: center;
	margin-left: 0px;
}

.buttonGo{
	border-radius: 30px;
	width: 60px;
  	height: 60px;
  	padding: 8px 10px 10px 10px;
  	font-weight: bold;
  	color: black;
	text-align: center;
}

