<form class="labels-inputs" class="container" ng-controller="loginCtrl">
  <div class="form-group">
    <label for="inputLogin" id="labelLogin">Login</label>
    <input type="text" 
    	   class="form-control" 
    	   id="inputLogin" 
    	   placeholder="Login"
    	   ng-model="inputLoginModel">

  	<br><br>

    <label for="inputPassword" id="labelPassword">Password</label>
    <input type="password" 
    	   class="form-control" 
    	   id="inputPassword" 
    	   placeholder="Password"
    	   ng-model="inputPasswordModel">

    <br><br>

    <button type="button" class="btn btn-default buttonGo" ng-click="buttonLogin()">Login</button>

  </div>
</form> 

<link rel="stylesheet" type="text/css" href="page-login.css">