		<table class="table">
			<tbody>
					<tr ng-repeat="lexicon in dictionary | filter:lexicon.wordOne">
				<!-- <tr ng-repeat="lexicon in dictionary | filter:lexicon.wordOne | filter : paginate"> -->
					<td class="tdCheckBox" 
						ng-mouseover="hoverIn(lexicon._id)" 
						ng-mouseleave="hoverOut(lexicon._id)">							
						<input type="checkbox" 
							   class="checkBoxes" 
							   ng-model="lexicon.checked" 
							   ng-click="clickBox($index, dictionary)"/>					
					</td>					
					<td class="tdWordOne">{{lexicon.wordOne}}</td>
					<td class="tdWordTwo">{{lexicon.wordTwo}}</td>			
					<td class="tdButtons">
						<button type="button" 
							class="btn btn-warning btn-xs editButton glyphicon glyphicon-edit" 
							ng-if="lexicon.checked" 
							ng-click="edit(lexicon._id)"
							data-toggle="tooltipEdit" title="Edit">							
						</button>								
						<button class="btn btn-danger btn-xs removeButton glyphicon glyphicon-trash" 
							ng-if="lexicon.checked" 
							ng-click="remove(lexicon._id)"
							data-toggle="tooltipRemove" title="Remove">								
						</button>
					</td>		
				</tr>
			</tbody>
		</table>	

		<!-- ng-animate="animate" -->